@import "reset";
@import "variables";
@import "mixins";
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sofia Sans", sans-serif;
}
input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}
a {
  text-decoration: none;
}
.wrapper-inner {
  width: 1508px;
  height: 1037px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Sidebar Header Header Header Header"
    "Sidebar Main Main Main Main"
    "Sidebar Main Main Main Main"
    "Sidebar Main Main Main Main"
    "Sidebar Main Main Main Main";

  .Sidebar {
    width: 263px;
    grid-area: Sidebar;
    padding: 54px 0 0 58px;
    display: flex;
    flex-direction: column;
    .heading {
      margin-top: 60px;
      font-size: 3.2rem;
      font-weight: 800;
    }
    .nav {
      display: flex;
      flex-direction: column;
      margin-top: 48px;
      row-gap: 18px;
      .nav-item {
        display: flex;
        align-items: center;
        column-gap: 13px;
        font-size: 1.6rem;
        font-weight: 600;
        color: $black;
        padding: 6px;
        border-radius: 8px;
        transition: background-color 0.2s linear;
        &:hover {
          background-color: #dddddd72;
        }
        .icon {
          width: 22px;
          height: 22px;
          object-fit: contain;
        }
      }
    }
    .btn-chat {
      display: flex;
      align-items: center;
      background-color: transparent;
      font-size: 16px;
      font-weight: 600;
      position: fixed;
      bottom: 62px;
      cursor: pointer;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #f6f6f6;
        column-gap: 18px;
      }
    }
  }

  .Header {
    height: $header-height;
    grid-area: Header;
    display: flex;
    align-items: center;
    .search-form {
      display: flex;
      align-items: center;
      column-gap: 18px;
      margin-right: auto;
      .search {
        font-size: 1.8rem;
        font-weight: 600;
        background-color: #fff;
        &::placeholder {
          color: rgba($color: $text-color, $alpha: 0.2);
        }
      }
    }
    .nav {
      display: flex;
      column-gap: 46px;
      .nav-link {
        color: $text-color;
        font-size: 1.8rem;
        font-weight: 600;
        position: relative;
        padding: 8px 0;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: $black;
          transition: width 0.5s;
        }
        &:hover::after,
        &.active::after {
          width: 100%;
        }
      }
    }
    .actions {
      margin-left: 50px;
      display: flex;
      column-gap: 26px;
      align-items: center;
    }
  }

  .Main {
    grid-area: Main;
    padding-top: 20px;
    .container {
      width: 1151px;
      height: 820px;
      margin: 0 auto;
      border-radius: 16px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto 1fr 1fr 1fr;
      gap: 22px;
      grid-auto-flow: row;
      grid-template-areas:
        "pic1 pic1 pic3 pic4"
        "pic2 pic2 pic3 pic4"
        "pic5 pic6 pic7 pic7"
        "pic5 pic6 pic8 pic8";
      > * > * {
        border-radius: 16px;
      }
    }
    .pic1 {
      grid-area: pic1;
    }

    .pic2 {
      grid-area: pic2;
    }

    .pic3 {
      grid-area: pic3;
    }

    .pic4 {
      grid-area: pic4;
    }

    .pic5 {
      grid-area: pic5;
    }

    .pic6 {
      grid-area: pic6;
    }

    .pic7 {
      grid-area: pic7;
    }

    .pic8 {
      grid-area: pic8;
    }
  }
}
