* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: $fontSize;
  color: $textColor;
  font-family: $primaryFont;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
