:root {
  --container-width: 1200px;
}

.container {
  padding: 0;
  .row {
    align-items: center;
    > * {
      padding: 0;
      margin: 0;
    }
    .header-right {
      display: flex;
      align-items: center;
      gap: 25px;
      .menu {
        ul {
          font-size: 0;
          display: flex;
          column-gap: 50px;
        }
        li {
          display: inline-block;
          a {
            width: auto;
            display: block;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.6;
          }
        }
      }
    }
  }
}
